.container {
    // Location
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

.mapContainer {
    // Scale
    height: 450px;
    width: 700px;
    // Style
    background-color: whitesmoke;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
    border: 5px solid white;
    // Animation
    transition: .2s;
}

.contactsContent {
    // Location
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linksContainer {
    // Style
    list-style: none;
}

.linksContainer li:not(:last-child) {
    // Scale
    margin-bottom: 20px;
}
