.container {
    // Scale
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.inner {
    // Scale
    width: 100%;
    padding: 0 10px;
    // Location
    display: flex;
    flex-direction: column;
    align-items: center;
}
