.isDesk {
    @media screen and (max-width: 1025px) {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        justify-content: space-around;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileHeader {
    display: flex;
}

.isMobile {
    @media screen and (min-width: 1025px) {
        display: none;
    }
}

.header {
    // Scale
    height: 50px;
    @media screen and (max-width: 1024px) {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        margin: 0;
    }
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1140px;
    width: 100%;
}

.logo {
    // Scale
    height: 40px;
    width: 40px;
    @media screen and (max-width: 1024px) {
        height: 30px;
        width: 30px;
    }
    // Location
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    // Scale
    width: 100%;
    height: 100%;
}

.logo img {
    // Scale
    height: 100%;
    width: 100%;
}

.name {
    // Scale
    height: 100%;
    // Location
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 1090px) {
        display: none;
    }
}

.name h1 {
    font-size: 20px;
    color: #023872;
}

.name p {
    font-size: 12px;
}

.selectList {
    // Style
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    // Animation
    transition: 0.2s;
}

.selectList:hover {
    // Style
    color: #006bcd;
}

.selectList::-ms-expand {
    display: none;
}

.searchField {
    // Scale
    height: 50px;
    width: 300px;
    padding-left: 50px;
    // Location
    position: relative;
    // Style
    background-color: #e9e9e9;
    border: none;
    border-radius: 25px;
    outline: none;
    background-image: url("./../../images/icons/loupe-icon.svg");
    background-repeat: no-repeat;
    background-position: 17px center;
}

// Mobile

.burgerMenu {
    // Scale
    height: 100vh;
    width: 100vw;
    padding: 10px;
    // Location
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // Style
    background-color: #023872;
    box-shadow: 0 30px 70px black;
    // Animations
    transition: 0.2s;
}

.navLinksContainer {
    padding-top: 50px;
    // Style
    list-style: none;
    // Location
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burgerField {
    width: calc(100% - 40px);
    height: 30px;
    border-radius: 15px;
    border: none;
    background-image: url("./../../images/icons/loupe-icon.svg");
    background-repeat: no-repeat;
    background-position: center left 5px;
    padding: 5px 5px 5px 25px;
}

.navLink {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: block;
}

.navLinksContainer li {
    width: 100%;
    padding: 20px 0;
}

.navLinksContainer li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
