.footer {
    // Style
    border-top: 1px solid black;
    padding: 50px 0 0;
    background-color: white;
    background-image: url("./../../images//content/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.gridContainer {
    // Scale
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    // Location
    display: grid;
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    grid-template-columns: repeat(3, 330px);
    grid-gap: 3em;
    justify-content: space-between;
}

.heading {
    // Scale
    margin-bottom: 30px;
}

.linksContainer {
    // Style
    list-style: none;
}

.column {
    // Location
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column li:not(:last-child) {
    margin-bottom: 20px;
}

.column h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.underFooter {
    // Scale
    max-width: 1140px;
    width: 100%;
    padding: 30px 0;
    // Location
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underFooter p {
    // Style
    font-size: 14px;
}

.buttons {
    // Location
    display: flex;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    justify-content: space-between;
}
