.navigationBar {
    // Scale
    width: 800px;
    margin: 0 auto 20px;
    // Location
    @media screen and (max-width: 768px) {
        display: none;
    }
    position: sticky;
    top: 30px;
    z-index: 1;
    // Style
    border-radius: 25px;
    // Animation
    transition: .2s;
}

.navLinksContainer {
    // Scale
    height: 50px;
    // Location
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navLink {
    // Style
    text-decoration: none;
    color: black;
    font-weight: 100;
    // Animation
    transition: 0.2s;
}

.navLink:hover {
    // Style
    color: #023872;
}

.selected {
    // Style
    color: #023872;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected::before {
    content: "";
    height: 2px;
    width: 34px;
    display: block;
    position: absolute;
    bottom: 8px;
    background-color: #023872;
    border-radius: 1px;
}
